.row.whole
  %p#notice= notice

  %h1
    = @feedback_subject.name
  %p
    = @feedback_subject.yes_no_question

  %table.qr
    - @qr.modules.each_index do |x|
      %tr
        - @qr.modules.each_index do |y|
          - if @qr.dark?(x,y)
            %td.black
          - else
            %td.white

  %h2
    Feedback so far
  %table
    %thead
      %th
        answer
      %th
        message
    - @feedback_subject.feedbacks.each do | feedback |
      %tr
        %td
          = feedback.yes ? "yes" : "no"
        %td
          = feedback.message

= link_to 'Edit', edit_feedback_subject_path(@feedback_subject)
\|
= link_to 'Back', feedback_subjects_path
