%p#notice= notice

%p
  %b Name:
  = @feedback_subject.name
%p
  %b The question you're asking your users:
  = @feedback_subject.yes_no_question

%h3 Your product's QR code

%table.qr
  - @qr.modules.each_index do |x|
    %tr
      - @qr.modules.each_index do |y|
        - if @qr.dark?(x,y)
          %td.black
        - else
          %td.white

= link_to 'Edit', edit_feedback_subject_path(@feedback_subject)
\|
= link_to 'Back', feedback_subjects_path
