!!!
%html
  %head
    %title Fbe
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", name: "viewport"}/
    = stylesheet_link_tag("mobile", :media => "screen")
    /[if IE]
      <link type="text/css" rel="stylesheet" href="/assets/groundworkcss/groundwork-ie.css">
  %body
    = render :partial => 'layouts/mobile_header'
    .row.padded.double
      = yield
    = javascript_include_tag("mobile")
