!!!
%html
  %head
    %title Fbe Page
    = stylesheet_link_tag("mobile", :media => "screen")
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
  %body
    %div{"data-role" => "page"}
      %div{"data-role" => "header"}
        = render :partial => 'layouts/mobile_header'
      %div{"data-role" => "content"}
        = yield

    #thank-you{data: {role: "page"}}
      %div{"data-role" => "header"}
        = render :partial => 'layouts/mobile_header'
      %div{"data-role" => "content"}
        %b
          Got it, thank you for giving us feedback! 
        %p.gap-top
          We're always trying to make our product better and your input is invaluable.
    = javascript_include_tag("mobile")

